<div class = background_img>

    <div class = "background2" style="background-image: url(https://solomid-resources.s3.amazonaws.com/content/image/3c345bd2-0042-4e71-b58a-426b7d3e9677); center center; opacity: 1;">
        
            <h1> fuck off m8</h1>
        
    </div>
</div>
